<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="NabcoCustomer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
    <sectionGroup name="SAP.Middleware.Connector">
      <section name="GeneralSettings" type="SAP.Middleware.Connector.RfcGeneralConfiguration, sapnco" />
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco" />
      </sectionGroup>
      <sectionGroup name="ServerSettings">
        <section name="ServerConfiguration" type="SAP.Middleware.Connector.RfcServerConfiguration, sapnco" />
      </sectionGroup>
    </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
 <userSettings>
  <NabcoCustomer.My.MySettings>
   <setting name="User_ID" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="User" serializeAs="String">
    <value />
   </setting>
   <setting name="User_Full" serializeAs="String">
    <value />
   </setting>
   <setting name="User_security" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Sap_User" serializeAs="String">
    <value />
   </setting>
   <setting name="sap_Pass" serializeAs="String">
    <value />
   </setting>
  </NabcoCustomer.My.MySettings>
 </userSettings>
</configuration>